@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome to Knowledge Hub Portal</h1>
        <p class="lead">
            This portal is all about sharing a link or url with the community which benefits both link owner and community.
        </p>
        <p>
            Knowledge hub is a web portal where a user can submit her/his portal URL under a specific category to be shared on
            knowledge hub. Admin can approve or reject the URL submitted by the user and in each case an email is sent out to the
            user. Once the link is approved, it will be available on the knowledge hub portal
        </p>
    </section>
   
</main>